@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario:#E5E5E5;
    --color-secundario:#0A3871;
    --color-terciario:#343A40;
    --color-cuaternario:#495057;

    --color-p1:#FFFFFF;
    --color-p2:#55AD9B;
    --color-p3:#95D2B3;
    --color-p4:#D8EFD3;

    --fuente-inter:"Inter", sans-serif;
    --inter_bold:700;
    --inter-regular:400;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-primario);
    margin: 0 auto;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    min-height: 100vh;
}

.contenido{
    display: flex;
    flex-direction: row;
    height: 85vh;
}

.contenido__icono{
    width: 5%;
}

.contenido__icono__img{
    width: 1.94rem;
    height: 3rem;
    margin-left: 2.8rem;
}

.contenido__input{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 10.5rem 5rem 7rem 5rem;
}

.contenido__input__texto{
    width: auto;
    height: 80%;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: 2rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
    border: none;
    margin-bottom: 1rem;
}

.contenido__input__texto::placeholder{
    color: var(--color-secundario);
    font-size: 2rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
    border: none;
}

.contenido__input__texto:focus{
    outline: none;
}

.contenido__input_advertencia{
    width: auto;
    display: flex;
    gap: 0.5rem;
    color: var(--color-terciario);
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.contenido__input__botones{
    width: auto;
    display: flex;
    gap: 1.5rem;
}

.contenido__input__botones__encriptar{
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border-radius: 1.5rem;
    height: 4rem;
    width: 20.5rem;
    border: none;
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
}

.contenido__input__botones__desencriptar{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border-radius: 1.5rem;
    height: 4rem;
    width: 20.5rem;
    border: 1px solid;
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
}

.contenido__input__botones__encriptar:hover{
    background-color: var(--color-primario);
    border: 1px solid;
    color: var(--color-secundario);
}

.contenido__input__botones__desencriptar:hover{
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

.contenido__output{
    display: flex;
    flex-direction: column;
    width: 20%;
    color: var(--color-primario);
}

.contenido__output__caja{
    flex-direction: column;
    text-align: center;
    background-color: var(--color-p1);
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 15px;
    padding: 2rem 2rem 2rem 2rem;
}

.contenido__output__caja__c1{
    height: 75%;
}

.contenido__output__caja__c2{
    height: 25%;
}

.contenido__output__caja__imagen{
    width: 98%;
    margin-bottom: 2rem;
}

.contenido__output__caja__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter_bold);
    color: var(--color-terciario);
    margin-bottom: 1rem;
}

.contenido__output__caja__texto{
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
    color: var(--color-terciario);
    margin-bottom: 1rem;
}

.contenido__output__caja__copiar{
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border-radius: 1.5rem;
    height: 4rem;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
}

.contenido__output__caja__copiar:hover{
    background-color: var(--color-primario);
    border: 1px solid;
    color: var(--color-secundario);
}

footer{
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
    color: var(--color-terciario);
}

@media (max-width: 1200px) {
    .contenido{
        flex-direction: column;
    }

    .contenido__icono{
        width: 100%;
        height: 10%;
    }

    .contenido__input{
        width: 100%;
        height: 70%;
        padding: 0 0 1rem;
    }

    .contenido__input__botones__encriptar{
        height: 4rem;
        width: 50%;
    }
    
    .contenido__input__botones__desencriptar{
        height: 4rem;
        width: 50%;
    }
    
    .contenido__output{
        width: 100%;
        height: 70%;
    }
    
    .contenido__output__caja__c1{
        height: 70%;
    }
    
    .contenido__output__caja__c2{
        height: 30%;
    }

    .contenido__output__caja__copiar{
        height: 100%;
        width: 100%;
    }

    .contenido__output__caja__imagen{
        display:none;
    }
}