@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario:#FFFFFF;
    --color-secundario:#0A3871;
    --color-terciario:#343A40;
    --color-cuaternario:#495057;

    --color-p1:#F1F8E8;
    --color-p2:#55AD9B;
    --color-p3:#95D2B3;
    --color-p4:#D8EFD3;

    --fuente-inter:"Inter", sans-serif;
    --inter_bold:700;
    --inter-regular:400;
}

*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-p1);
}

.contenido{
    display: flex;
    flex-direction: row;
    width: auto;
}

.contenido__input{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.contenido__input__icono{
    width: 1.94rem;
    height: 3rem;
    padding: 2.5rem 5rem 5rem 5rem;
}

.contenido__input__texto{
    width: auto;
    height: 18rem;
    background-color: var(--color-p1);
    border: none;
    color: var(--color-secundario);
    font-size: 2rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
    padding: 0rem 5rem 5rem 10rem;
    border: none;
}

.contenido__input__texto::placeholder{
    color: var(--color-secundario);
    font-size: 2rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
}

.contenido__input__texto:focus{
    outline: none;
}

.contenido__input_advertencia{
    width: auto;
    display: flex;
    padding: 0rem 5rem 1.25rem 10rem;
    gap: 0.5rem;
    color: var(--color-terciario);
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
    font-size: 0.75rem;
}

.contenido__input__botones{
    width: auto;
    display: flex;
    gap: 1.5rem;
    padding: 0rem 5rem 1.25rem 10rem;
}

.contenido__input__botones__encriptar{
    background-color: var(--color-secundario);
    color: var(--color-p1);
    border-radius: 1.5rem;
    height: 4rem;
    width: 20.5rem;
    border: none;
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
}

.contenido__input__botones__desencriptar{
    background-color: var(--color-p1);
    color: var(--color-secundario);
    border-radius: 1.5rem;
    height: 4rem;
    width: 20.5rem;
    border: 1px solid;
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
}

.contenido__input__botones__encriptar:hover{
    background-color: var(--color-p2);
    color: var(--color-secundario);
}

.contenido__input__botones__desencriptar:hover{
    background-color: var(--color-p2);
    color: var(--color-secundario);
}

.contenido__output{
    display: flex;
    flex-direction: column;
    width: 30%;
    color: var(--color-terciario);
    padding: 1rem 1rem 1rem;
}

.contenido__output__caja{
    flex-direction: column;
    text-align: center;
    background-color: var(--color-p2);
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 15px;
}

.contenido__output__caja__imagen{
    padding: 8rem 2rem 2rem 2rem;
}

.contenido__output__caja__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter_bold);
    color: var(--color-terciario);
}

.contenido__output__caja__texto{
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: var(--inter-regular);
    color: var(--color-terciario);
}


.contenido__output__caja__copiar{
    visibility: hidden;
}